.ipynb_checkpoints

docs/build
docs/Manifest.toml

demo/.ipynb_checkpoints
demo/*incomplete.ipynb
demo/*.jl

.idea

**/*.aux
**/*.log
**/*.synctex.*
**/*.cov
**/*.mem
**/private*

Coverage.ipynb

**/.DS_Store

examples/*Compiled

**/Manifest.toml
